<style>
    .angular-with-newlines {
        white-space: pre-wrap;
    }
</style>
<form role="form" name="changePasswordForm">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="table col-md-4">
            <div class="row well bg-light" data-ng-hide="successMessage != ''">
                <h2 class="form-login-heading col-md-12">Change Password</h2>
                <div class="form-group col-md-12">
                    <input type="password" class="form-control" placeholder="Old password" name="txtOldPassword" id="txtOldPassword" data-ng-model="ChangePassword.OldPassword" required autofocus>
                    <p ng-show="submitted && changePasswordForm.txtOldPassword.$invalid"
                       class="text-danger">Old Password is required.</p>
                </div>
                <div class="form-group col-md-12">
                    <input type="password" class="form-control" placeholder="New Password" name="txtNewPassword" id="txtNewPassword" data-ng-model="ChangePassword.NewPassword" required>
                    <p ng-show="submitted && changePasswordForm.txtNewPassword.$invalid"
                       class="text-danger">New Password is required.</p>
                </div>
                <div class="form-group col-md-12">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="txtConfirmPassword" id="txtConfirmPassword" data-ng-model="ChangePassword.ConfirmPassword" required>
                    <p ng-show="submitted && changePasswordForm.txtConfirmPassword.$invalid"
                       class="text-danger">Confirm Password</p>
                </div>
                <div class="form-group col-md-6">
                    <button class="btn btn-md btn-info btn-block" type="button" ng-click="clear()"><span data-feather="circle"></span> Clear</button>
                </div>
                <div class="form-group col-md-6">
                    <button class="btn btn-md btn-info btn-block" type="button" ng-click="ChangePassword(changePasswordForm.$valid)"><span data-feather="save"></span> Submit</button>
                </div>
            </div>            
            <div class="row well bg-light alert-success panel-default" data-ng-hide="successMessage == ''">
                <span class="col-md-12" ng-bind-html="successMessage" style="text-align:left"></span>
                <a class="card col-md-12" href="" onclick="goTologin()">Login</a>
            </div>
            <div class="row well bg-light alert-danger panel-default" style="text-align:left" data-ng-hide="errorMessage == ''">
                <span  class="col-md-12" ng-bind-html="errorMessage"></span>
            </div>

        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>