<style>
    .nodatatxt {
        position: absolute;
        top: 60px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>Edit Inventory Type</b>

    </div>
    <div class="card-body">
        <form name="editInventoryTypeForm">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="InventoryTypeName">Inventory Type</label> <span class="text-danger">*</span>
                    <input type="text" class="form-control" id="InventoryTypeName" name="InventoryTypeName" placeholder="Enter Inventory Type"
                           ng-model="EditInventoryType.InventoryTypeName" required>
                    <p ng-show="submitted && editInventoryTypeForm.InventoryTypeName.$invalid"
                       class="text-danger">Inventory Type is required.</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="TypeForQIH">Type for QIH</label> <span class="text-danger">*</span>
                    <select id="TypeForQIH" name="TypeForQIH" ng-model="EditInventoryType.TypeForQIH" class="form-control input-sm" required>
                        <option value="equal">equal</option>
                        <option value="minus">minus</option>
                        <option value="plus">plus</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="chkActive">Active</label>
                    <input type="checkbox" class="form-control" id="chkActive" name="Active"
                           ng-model="EditInventoryType.Active">
                </div>
            </div>
            <br />
            <br />
            <hr />
            <div class="form-row col-md-offset-5">
                <button type="button" class="btn btn-primary" ng-click="RedirectDashboard()"><span data-feather="arrow-left"></span> Back</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="UpdateInventoryType(editInventoryTypeForm.$valid)"><span data-feather="save"></span> Save</button>

            </div>
        </form>
    </div>
</div>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>