<style>
    .nodatatxt {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>Employee Attendance</b>
       
    </div>

    <div class="card-body">
        <form name="EmployeeAttendanceDashboard">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="AttendanceDate">Date</label>
                    <input type="date" class="form-control input-sm" id="AttendanceDate" name="AttendanceDate" placeholder="Enter date"
                           ng-model="AttendanceDate"/>
                    <p ng-show="submitted && EmployeeAttendanceDashboard.AttendanceDate.$invalid" class="text-danger">Date is required.</p>
                </div>
                <div class="form-group col-md-3">
                    <br />
                    &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-secondary" ng-click="GetDataForDashboard(EmployeeAttendanceDashboard.$valid);" style="margin-top:5px">Search</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <div ui-grid="gridOptions" ui-grid-pagination
                         class="myGrid" style="height:420px"></div>
                    <div class="nodatatxt" data-ng-if="gridOptions.data.length==0">No data found.</div>
                </div>
            </div>
            <br />
            <div class="form-row col-md-offset-5">                
                <button type="button" class="btn btn-primary" ng-click="SaveEmployeeAttendances()"><span data-feather="save"></span>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--<button type="button" class="btn btn-primary" ng-click="SaveNPrint(addRetailForm.$valid)"><span data-feather="save"></span>Save & <span data-feather="printer"></span>Print</button>-->
            </div>
        </form>
    </div>
</div>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>