<style>
    .nodatatxt {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>Employee Attendance Report</b>
        <a class="btn btn-secondary btn-sm float-right" href="#EmployeeAttendance">Employee Attendance</a>
    </div>

    <div class="card-body">
        <form name="EmployeeAttendanceDashboard">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <select id="ddlMonth" ng-model="AttendanceMonth" class="form-control" ng-options="item.Month as item.Text for item in MonthList" required>
                        <option value="">Select Month</option>
                    </select>
                    <p class="text-danger" ng-show="submitted && EmployeeAttendanceDashboard.ddlMonth.$invalid">Please select month</p>
                </div>
                <div class="form-group col-md-3">
                    <select id="ddlYear" ng-model="AttendanceYear" class="form-control" ng-options="item.Year as item.Year for item in YearList" required>
                        <option value="">Select Year</option>
                    </select>
                    <p class="text-danger" ng-show="submitted && EmployeeAttendanceDashboard.ddlYear.$invalid">Please select year</p>
                </div>
                <div class="form-group col-md-3">
                    <select id="ddlEmployeeNo" ng-model="EmployeeNo" class="form-control" ng-options="item.EmployeeNo as item.EmployeeName for item in EmployeeList" required>
                        <option value="">Select Employee</option>
                    </select>
                    <p class="text-danger" ng-show="submitted && EmployeeAttendanceDashboard.ddlEmployeeNo.$invalid">Please select employee</p>
                </div>
                <div class="form-group col-md-3">
                    <button type="button" class="btn btn-secondary" ng-click="GetAttendanceReport(EmployeeAttendanceDashboard.$valid);">Search</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <div ui-grid="gridOptions" ui-grid-pagination
                         class="myGrid" style="height:420px"></div>
                    <div class="nodatatxt" data-ng-if="gridOptions.data.length==0">No data found.</div>
                </div>
            </div>
            <br />
            <!--<div class="form-row col-md-offset-5">
                <button type="button" class="btn btn-primary" ng-click="SaveEmployeeAttendances()"><span data-feather="save"></span>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--<button type="button" class="btn btn-primary" ng-click="SaveNPrint(addRetailForm.$valid)"><span data-feather="save"></span>Save & <span data-feather="printer"></span>Print</button>-->
            <!--</div>-->
        </form>
    </div>
</div>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
        var gearPage = document.getElementById('GearPage');
        if (null != gearPage) {
            gearPage.parentNode.removeChild(gearPage);
            document.title = "Error";
        }
</script>
</html>