<style>
    .nodatatxt {
        position: absolute;
        top: 60px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>{{PageTitle}}</b>
        <a class="btn btn-secondary btn-sm float-right" href="#AddMaterialInventory">Add to Material Inventory</a>
    </div>
    <br />
    <div ng-if="ShowSpinnerStatus" class="loader"></div>
    <div class="card-body">
        <form name="addMaterialInventoryDashboardForm">

            <div class="form-row">
                <div class="form-group col-md-2">
                    <select select2 id="SupplierRetailer" name="SupplierRetailer" ng-model="searchSupplierRetailer" ng-change="GetContactNo()" class="form-control"
                            ng-options="item.SupplierRetailerId as item.Name for item in SupplierRetailers" required>
                        <option value="">-- Select Supplier --</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <!--<label for="ddlItemCategory">Item Category</label> <span class="text-danger">*</span>-->
                    <select select2 id="ddlItemCategory" name="ddlItemCategory" ng-model="searchItemCategoryId"
                            class="form-control" ng-change="GetMaterialsByCategoryId()" ng-options="item.ItemCategoryId as item.ItemCategoryName for item in ItemCatogoryList" required>
                        <option value="">--Select Category--</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <!--<label for="ddlItemCategory">Item Category</label> <span class="text-danger">*</span>-->
                    <select select2 id="ddlMaterial" name="ddMaterial" ng-model="searchMaterialId" class="form-control"
                            ng-options="item.MaterialId as item.DisplayName for item in subMaterialLists" required>
                        <option value="">--Select Material-- </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <!--<label for="ddlItemCategory">Item Category</label> <span class="text-danger">*</span>-->
                    <select select2 id="ddlGodown" name="ddGodown" ng-model="searchGodownId"
                            class="form-control"
                            ng-options="item.GodownId as item.GodownName for item in GodownData" required>
                        <option value="">--Select Godown-- </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="GetDataForDashboard()"><span data-feather="search"></span> Search</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-secondary btn-sm" ng-click="clear()"><span data-feather="circle"></span> Clear</button>
                    <button type="button" ng-if="searchSupplierRetailer && TotalPending >0" class="btn btn-primary col-md-offset-5" ng-click="payBill()">Pay Online <span data-feather="arrow-right-circle"></span></button>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                         class="myGrid" style="height:400px"></div>
                    <div class="nodatatxt" style="margin-top:20px" data-ng-if="gridOptions.data.length==0">No data found</div>
                </div>
            </div>
            <div class="col-12">
                <table class="table table-sm table-striped table-bordered table-condensed">
                    <tr ng-show="searchMaterialId>0">
                        <td class="text-right">Quantity In Hand</td>
                        <td class="text-right"><label>{{QuantityInHand}}</label></td>
                    </tr>
                    <!--<tr>
                        <td class="text-right">Total Quantity</td>
                        <td class="text-right"><label>{{TotalQuantity}}</label></td>
                    </tr>-->
                    <tr>
                        <td class="text-right">Total Pending Amount</td>
                        <td class="text-right"><label>{{TotalPending}}</label></td>
                    </tr>
                    
                    <!--<tr>
        <td colspan="2" align="center"><button type="button" ng-if="searchSupplierRetailer && TotalPending >0" class="btn btn-primary col-md-offset-5" ng-click="payBill()">Pay Online <span data-feather="arrow-right-circle"></span></button></td>
    </tr>-->
                </table>

            </div>
            <br />

        </form>
    </div>
</div>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>
