<style>
    .nodatatxt {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .newhr {
        /*border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
        height: 5px;
        border: 0;
        box-shadow: 0 10px 10px -10px #8c8c8c inset;
    }
</style>
<div class="card" id="dvPrint">
    <div class="card-header">
        <b>{{WholeSale[0].Bill.SaleCategoryId == 1 ? 'Whole Sale':'Retail'}}</b>
        <span style="float:right"><b>Bill No.-</b> {{WholeSale[0].BillNo}} &nbsp;&nbsp;|&nbsp;&nbsp; <b>Bill Date -</b> {{WholeSale[0].Bill.SaleDate | date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="card-body">
        <form id="addWholeSaleForm">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ddlName">Name</label>
                    <select id="ddlName" name="ddlName" ng-model="WholeSale[0].Bill.RetailerId" ng-change="GetContactNo()" class="form-control"
                            ng-options="item.SupplierRetailerId as item.Name for item in SupplierRetailers" disabled>
                        <option value="">-- Select --</option>
                    </select>
                    <p ng-show="addWholeSaleForm.SupplierRetailer.$invalid && !SupplierRetailer.SupplierRetailer.$pristine"
                       class="help-block">Supplier/Retailer is required.</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="txtContactNo">Contact No.</label>
                    <input type="tel" class="form-control" id="txtContactNo" name="txtContactNo" placeholder="Enter Contact No."
                           ng-model="WholeSale[0].Bill.Contact" disabled>
                </div>
            </div>
            <hr />


            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <!--<div ui-grid="gridOptionsView" ui-grid-edit ui-grid-cellnav
                    class="myGrid" style="height:200px"></div>-->
                    <div class="nodatatxt" data-ng-if="WholeSale.length==0">Please Add Item</div>
                    <table class="table table-sm table-striped table-bordered table-condensed">
                        <tr>
                            <th style="text-align:center">Sl. No.</th>
                            <th style="text-align:center">Particulars</th>
                            <th style="text-align:center">Godown</th>
                            <th style="text-align:center">Rate</th>
                            <th style="text-align:center">Quantity</th>
                            <th style="text-align:center" ng-show="WholeSale[0].Bill.SaleCategoryId == 1">Discount</th>
                            <th style="text-align:center" ng-show="WholeSale[0].Bill.SaleCategoryId == 1">DLP</th>
                            <th style="text-align:center">Amount</th>
                        </tr>
                        <tr ng-repeat="item in WholeSale">
                            <td>{{$index + 1}}</td>
                            <td>{{item.Material.DisplayName}}</td>
                            <td>{{item.Godown.GodownName}}</td>
                            <td align="right">{{item.Rate}}</td>
                            <td align="right">{{item.Quantity}}</td>
                            <td align="right" ng-show="WholeSale[0].Bill.SaleCategoryId == 1">{{item.Discount}}</td>
                            <td align="right" ng-show="WholeSale[0].Bill.SaleCategoryId == 1">{{item.DLP}}</td>
                            <td align="right">{{item.TotalAmount.toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td colspan="{{WholeSale[0].Bill.SaleCategoryId == 1?7:5}}" class="text-right">Total Amount</td>
                            <td class="text-right">{{WholeSale.TotalAmount.toFixed(2)}}</td>
                        </tr>
                        <!--<tr ng-show="WholeSale[0].Bill.SaleCategoryId == 1">-->
                        <tr>
                            <td colspan="{{WholeSale[0].Bill.SaleCategoryId == 1?7:5}}" class="text-right">
                                <div class="pull-right">
                                    <label>
                                        Include GST No. <input type="checkbox" disabled ng-model="WholeSale[0].Bill.ShowGSTNo"
                                                               ng-true-value="1" ng-false-value="0" />
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label>Cash <input type="checkbox" disabled ng-checked="WholeSale[0].Bill.SaleTypeId==2?0:1" /></label>
                                    &nbsp;&nbsp;&nbsp;
                                    <span>
                                        GST ({{WholeSale[0].Bill.GSTPercentage}}%) <input type="checkbox" disabled ng-checked="WholeSale[0].Bill.GSTApplied"
                                                                            ng-true-value="1" ng-false-value="0" />
                                    </span>
                                </div>
                            </td>
                            <td class="text-right"><span>{{WholeSale[0].Bill.GSTAmount}} </span></td>
                        </tr>
                        <tr>
                            <td colspan="{{WholeSale[0].Bill.SaleCategoryId == 1?7:5}}" class="text-right"> Grand Total</td>
                            <td class="text-right">{{WholeSale[0].Bill.GrandTotal}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-offset-5">
                <button type="button" class="btn btn-primary" ng-click="RedirectDashboard()"><span data-feather="arrow-left"></span> Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="print();"> <span data-feather="printer"></span> Print</button>
            </div>
        </form>
    </div>
</div>


<script>
    feather.replace()
</script>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>