
<style>
    .nodatatxt {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>{{PageTitle}} </b>
    </div>
    <div ng-if="ShowSpinnerStatus" class="loader"></div>
    <div class="card-body" id="tblCustomers">
        <form id="wholeSaleDashboard">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="txtOthers">From Date</label>
                    <input type="date" class="form-control input-sm" id="searchFromDate" name="searchFromDate"
                           ng-model="searchFromDate">

                </div>
                <div class="form-group col-md-2">
                    <label for="searchToDate">To Date</label>
                    <input type="date" class="form-control input-sm" id="searchToDate" name="searchToDate"
                           ng-model="searchToDate">
                </div>
                <div class="form-group col-md-2">
                    <label for="searchBillNo">Bill No</label>
                    <input type="text" class="form-control input-sm" id="searchBillNo" name="searchBillNo"
                           ng-model="searchBillNo" placeholder="Enter Bill No">
                </div>
                <div class="form-group col-md-3">
                    <label for="SupplierRetailer">Customer</label>
                    <select id="SupplierRetailer" name="SupplierRetailer" ng-model="searchSupplierRetailer" ng-change="GetContactNo()" class="form-control input-sm"
                            ng-options="item.SupplierRetailerId as item.Name for item in SupplierRetailers" required>
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <br />
                    &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-secondary" ng-click="GetDataForDashboard();" style="margin-top:5px">Search</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <div ui-grid="gridOptions" ui-grid-edit ui-grid-pagination ui-grid-cellnav
                         class="myGrid" style="height:400px"></div>
                    <div class="nodatatxt" data-ng-if="gridOptions.data.length==0">No data found.</div>
                </div>
                <div class="col-12">
                    <table class="table table-sm table-striped table-bordered table-condensed">
                        <tr>
                            <td class="text-right">Total Cash</td>
                            <td class="text-right"><label>{{TotalCash}}</label></td>
                        </tr>
                        <tr>
                            <td class="text-right">Total Credit</td>
                            <td class="text-right"><label>{{TotalCredit}}</label></td>
                        </tr>
                        <tr ng-if="ShowButton">
                            <td class="text-right">Total Online Paid Amount</td>
                            <td class="text-right"><label>{{$scope.TotalOnlinePaidAmount}}</label></td>
                        </tr>                        
                        <tr ng-if="ShowButton">
                            <td><button type="button" class="btn btn-primary col-md-offset-6 pull-right" ng-click="printCustomerBills()"> <span data-feather="printer"></span> Customer Bills to PDF</button></td>
                            <td><button type="button" class="btn btn-primary col-md-offset-3" ng-click="payBill()"> <span data-feather="arrow-right-circle"></span> Pay Online</button></td>
                        </tr>
                    </table>
                </div>
        </form>
     
    </div>
</div>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
    <script type="text/javascript">
        feather.replace();
        var gearPage = document.getElementById('GearPage');
        if (null != gearPage) {
            gearPage.parentNode.removeChild(gearPage);
            document.title = "Error";
        }
    </script>
</body>
</html>
