<style>
    .nodatatxt {
        position: absolute;
        top: 60px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>{{PageTitle}}</b>
        <span style="float:right"><b>Bill No. -</b> {{BillNo}}&nbsp;&nbsp; <b>Date -</b> {{TodaysDate}}</span>
    </div>
    <br />
    <div ng-if="ShowSpinnerStatus" class="loader"></div>
    <div class="card-body">
        <form name="addWholeSaleForm">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <!--<label for="txtOthers">Others</label>-->
                    <input type="text" class="form-control input-sm" id="Others" name="Others" placeholder="Enter customer name"
                           ng-model="WholeSale.Others" ng-disabled="WholeSale.SupplierRetailer > 0">
                    <p ng-show="submitted && addWholeSaleForm.Others.$invalid && !SupplierRetailer.Others.$pristine"
                       class="text-danger">Customer name is required.</p>
                </div>
                <div class="form-group col-md-4">
                    <!-- <label for="txtContactNo">Contact No.</label>-->
                    <input type="text" class="form-control input-sm" id="ContactNo" maxlength="10" pattern="\d*" name="ContactNo" placeholder="Enter Contact No."
                           ng-disabled="WholeSale.SupplierRetailer > 0" ng-model="WholeSale.ContactNo">
                    <p ng-show="submitted && addWholeSaleForm.ContactNo.$invalid && !SupplierRetailer.ContactNo.$pristine"
                       class="text-danger">Contact No. is required.</p>
                </div> 
                <div class="form-group col-md-4">
                    <!-- <label for="SupplierRetailer">Name</label> <span class="text-danger">*</span>-->
                    <select id="SupplierRetailer" name="SupplierRetailer" ng-model="WholeSale.SupplierRetailer" ng-change="GetContactNo()" class="form-control input-sm"
                            ng-options="item.SupplierRetailerId as item.Name for item in SupplierRetailers" ng-required="WholeSale.Others==undefined || WholeSale.Others.length==0" ng-disabled="WholeSale.Others.length > 0">
                        <option value="">Existing customer *</option>
                    </select>
                    <p ng-show="submitted && addWholeSaleForm.SupplierRetailer.$invalid && !SupplierRetailer.SupplierRetailer.$pristine"
                       class="text-danger">Customer name is required.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <!--<label for="ddlItemCategory">Item Category</label> <span class="text-danger">*</span>-->
                    <select select2 id="ddlItemCategory" name="ddlItemCategory" ng-model="WholeSale.ItemCategory" ng-change="GetMaterialsByCategoryId()" class="form-control input-sm"
                            ng-options="item.ItemCategoryId as item.ItemCategoryName for item in ItemCatogoryList" required>
                        <option value="">--Select material category * --</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select select2 id="ddlMaterial" name="ddlMaterial" ng-model="currentMaterialId" class="form-control input-sm"
                            ng-options="item.MaterialId as item.DisplayName for item in currentMaterialLst" required>
                        <option value="">--Select Material * --</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-secondary" ng-if="!ShowSpinnerStatus" btn-sm" ng-click="AddItem()">Add Item</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                         class="myGrid" style="height:300px"></div>
                    <div class="nodatatxt" data-ng-if="gridOptions.data.length==0">Please Add Item</div>
                    <table class="table table-sm table-striped table-bordered table-condensed">
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">Total Amount</td>
                            <td class="text-right"><label>{{GetGrandAmount()}}</label></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="pull-right">
                                    <span>
                                        Include GST No. <input type="checkbox" ng-model="ShowGSTNo"
                                                               ng-true-value="1" ng-false-value="0" />
                                    </span>
                                    &nbsp;&nbsp;&nbsp;
                                    <span>
                                        Cash <input type="checkbox" ng-checked="SaleTypeCash == 1 ? true : false" ng-model="SaleTypeCash" />
                                    </span>
                                </div>
                                <!--<label class="pull-right">Cash <input type="checkbox" ng-checked="true" ng-model="SaleTypeCash" /></label>-->
                            </td>
                            <td class="text-right">
                                <span>
                                    
                                    GST ({{WholeSale.GSTPercentage}}%) <input type="checkbox" ng-change="CalculateGST()" ng-model="WholeSale.GSTApplied"
                                                                              ng-true-value="1" ng-false-value="0" />
                                </span>
                            </td>
                            <td class="text-right"><label>{{WholeSale.GSTAmount}} </label></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">&nbsp;&nbsp;  Grand Total</td>
                            <td class="text-right">{{WholeSale.GrandTotal}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="form-row col-md-offset-5 col-sm-offset-5">
                                    <a href="#WholeSaleDashboard" class="btn btn-primary float-right btn-sm"><span data-feather="arrow-left"></span> Back</a>&nbsp;&nbsp;&nbsp;
                                    <!--<button type="button" class="btn btn-primary" ng-click="SubmitItems(addWholeSaleForm.$valid)"><span data-feather="save"></span>Save</button>&nbsp;&nbsp;&nbsp;-->
                                    <button type="button" class="btn btn-primary" ng-click="SaveNPrint(addWholeSaleForm.$valid)"><span data-feather="save"></span> Save</button>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </form>
    </div>
</div>
<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>

