<style>
    .nodatatxt {
        position: absolute;
        top: 60px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .ui-grid, .ui-grid-viewport, .ui-grid-contents-wrapper, .ui-grid-canvas {
        height: auto !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>{{WholeSale[0].Bill.SaleCategoryId == 1 ? 'Edit Whole Sale':'Edit Retail'}}</b>
        <span style="float:right"><b>Bill No. - {{BillNo}} </b>,&nbsp;&nbsp;<b>Date -</b> {{TodaysDate}}</span>
    </div>
    <br />
    <div ng-if="ShowSpinnerStatus" class="loader"></div>
    <div class="card-body">
        <form name="addWholeSaleForm">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <!-- <label for="SupplierRetailer">Name</label> <span class="text-danger">*</span>-->
                    <select disabled id="SupplierRetailer" name="SupplierRetailer" ng-model="WholeSale[0].Bill.RetailerId" ng-change="GetContactNo()" class="form-control input-sm"
                            ng-options="item.SupplierRetailerId as item.Name for item in SupplierRetailers" required>
                        <option value="">Name *</option>
                    </select>
                    <p ng-show="submitted && addWholeSaleForm.SupplierRetailer.$invalid && !SupplierRetailer.SupplierRetailer.$pristine"
                       class="text-danger">Supplier/Retailer is required.</p>
                </div>

                <div class="form-group col-md-4">
                    <!-- <label for="txtContactNo">Contact No.</label>-->
                    <input type="tel" disabled class="form-control input-sm" id="ContactNo" name="ContactNo" placeholder="Enter Contact No."
                           ng-model="WholeSale[0].Bill.ContactNo">
                    <p ng-show="submitted && addWholeSaleForm.ContactNo.$invalid && !SupplierRetailer.ContactNo.$pristine"
                       class="text-danger">Contact No. is required.</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <!--<label for="ddlItemCategory">Item Category</label> <span class="text-danger">*</span>-->
                    <select select2 id="ddlItemCategory" name="ddlItemCategory" ng-model="WholeSale.ItemCategory" class="form-control input-sm"
                            ng-options="item.ItemCategoryId as item.ItemCategoryName for item in ItemCatogoryList">
                        <option value="">Material Category</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-secondary" ng-if="!ShowSpinnerStatus" btn-sm" ng-click="AddItem()">Add Item</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 nopadding">
                    <div ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-selection
                         class="myGrid" style="height:300px"></div>
                    <div class="nodatatxt" data-ng-if="gridOptions.data.length==0">Please Add Item</div>
                    <table class="table table-sm table-striped table-bordered table-condensed">
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">Total Amount</td>
                            <td class="text-right"><label>{{GetGrandAmount()}}</label></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="pull-right">
                                    <label>
                                        Include GST No. <input type="checkbox" ng-model="WholeSale[0].Bill.ShowGSTNo"
                                                               ng-true-value="1" ng-false-value="0" />
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label>
                                        Cash <input type="checkbox" ng-checked="WholeSale[0].Bill.SaleTypeId == 1 ? true : false" ng-model="WholeSale[0].Bill.SaleTypeId" />
                                    </label>
                                </div>
                            </td>
                            <td class="text-right">
                                <label>
                                    GST ({{GSTPercentage}}%) <input type="checkbox" ng-change="CalculateGST()" ng-model="WholeSale.GSTApplied"
                                                                    ng-true-value="1" ng-false-value="0" />
                                </label>
                            </td>
                            <td class="text-right"><label>{{WholeSale.GSTAmount}} </label></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">&nbsp;&nbsp;  Grand Total</td>
                            <td class="text-right"><Label>{{WholeSale.GrandTotal}}</Label></td>
                        </tr>                       
                    </table>
                </div>
            </div>
            <div class="form-row col-md-offset-5 col-sm-offset-5">
                <a href="#WholeSaleDashboard" class="btn btn-primary float-right btn-sm"><span data-feather="arrow-left"></span> Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="SubmitItems(addWholeSaleForm.$valid)"><span data-feather="save"></span> Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="SaveNPrint()"><span data-feather="save"></span> Save <span data-feather="printer"></span> Print</button>
                
            </div>
        </form>
    </div>
</div>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>