<form role="form">
    <div class="table">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="row col-md-4">
                <h2 class="form-login-heading col-md-12">Login</h2>
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" placeholder="User name" data-ng-model="loginData.userName" required autofocus>
                </div>
                <div class="form-group col-md-12">
                    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                </div>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
        <div class="row PaddingTop">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4 well alert-danger panel-default PaddingTop" style="text-align:left" data-ng-hide="errorMessage == ''">
                <span class="col-md-12">{{errorMessage}}</span>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>

    </div>
</form>
